#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see

# this is read by the standalone daemon and embedded servers
[server]

init_file = /etc/mysql/init.sql

user                    = mysql
pid-file                = /run/mysqld/mysqld.pid
basedir                 = /usr
datadir                 = /var/lib/mysql
tmpdir                  = /tmp
bind-address            = 0.0.0.0
expire_logs_days        = 10

# this is only for the mysqld standalone daemon
[mysqld]

general_log_file       = /var/log/mysql/mysql.log
general_log            = 1
